web/xsd/phone.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="device.xsd"/>
    <xs:element name="mobile_phone" type="mobile_phoneType"/>
    <xs:complexType name="mobile_phoneType">
        <xs:sequence>
            <xs:element type="phoneType" name="phone" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="phoneType">
        <xs:complexContent>
            <xs:extension base="itemType">
                <xs:sequence>
                    <xs:element name="sim-card_number">
                        <xs:simpleType>
                            <xs:restriction base="xs:int">
                                <xs:minInclusive value="1"/>
                                <xs:maxInclusive value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="screen_size">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:pattern value="[1-9](.[1-9])?\'"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="resolution">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:pattern value="([0-9]+)x([1-9][0-9][0-9])"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="OS" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>